# Database Connection URL
# For local zero-configuration SQLite development:
DATABASE_URL="file:./dev.db"

# For PostgreSQL (e.g. Supabase, Neon, Railway, Vercel Postgres, Local Postgres):
# DATABASE_URL="postgresql://user:password@localhost:5432/captain_stitches?schema=public"

# App & Authentication
APP_URL="http://localhost:3000"
NEXTAUTH_SECRET="captainstitches_atelier_secret_key_2026_super_secure"
